WpfMvvmTest/Connected Services/ServiceReferenceTeacher/BaseTestLib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BaseTestLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BaseTestLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfTest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Test" nillable="true" type="tns:Test" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTest" nillable="true" type="tns:ArrayOfTest" />
  <xs:complexType name="Test">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Questions" nillable="true" type="tns:ArrayOfQuestion" />
      <xs:element minOccurs="0" name="TeacherID" type="xs:int" />
      <xs:element minOccurs="0" name="Teasher" nillable="true" type="tns:Teasher" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Test" nillable="true" type="tns:Test" />
  <xs:complexType name="ArrayOfQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Question" nillable="true" type="tns:Question" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestion" nillable="true" type="tns:ArrayOfQuestion" />
  <xs:complexType name="Question">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswerOptions" nillable="true" type="tns:ArrayOfAnswerOption" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Test" nillable="true" type="tns:Test" />
      <xs:element minOccurs="0" name="TextQuestion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
  <xs:complexType name="ArrayOfAnswerOption">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnswerOption" nillable="true" type="tns:AnswerOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnswerOption" nillable="true" type="tns:ArrayOfAnswerOption" />
  <xs:complexType name="AnswerOption">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="tns:Question" />
      <xs:element minOccurs="0" name="TextAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isTrueAnswer" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnswerOption" nillable="true" type="tns:AnswerOption" />
  <xs:complexType name="Teasher">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PassedTest" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tests" nillable="true" type="tns:ArrayOfTest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Teasher" nillable="true" type="tns:Teasher" />
</xs:schema>