WpfMvvmTest/Connected Services/ServiceReferenceTeacher/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFLogic.DTO" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFLogic" />
  <xs:element name="LogInTeacher">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInTeacherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFLogic.DTO" minOccurs="0" name="LogInTeacherResult" nillable="true" type="q1:TeacherDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeacher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFLogic.DTO" minOccurs="0" name="teasher" nillable="true" type="q2:TeacherDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeacherResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTeacher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFLogic.DTO" minOccurs="0" name="teasher" nillable="true" type="q3:TeacherDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTeacherResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeachers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeachersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFLogic.DTO" minOccurs="0" name="GetTeachersResult" nillable="true" type="q4:ArrayOfTeacherDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListTeachers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListTeachersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFLogic" minOccurs="0" name="GetListTeachersResult" nillable="true" type="q5:ArrayOfListTeacher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTeacherByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDTeacher" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTeacherByIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestFromSomeTeacher">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTeacher" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestFromSomeTeacherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFLogic.DTO" minOccurs="0" name="GetTestFromSomeTeacherResult" nillable="true" type="q6:ArrayOfTestDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>