WpfMvvmTest/Connected Services/ServiceReferenceTeacher/WCFLogic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFLogic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFLogic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfListTeacher">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListTeacher" nillable="true" type="tns:ListTeacher" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListTeacher" nillable="true" type="tns:ArrayOfListTeacher" />
  <xs:complexType name="ListTeacher">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListTeacher" nillable="true" type="tns:ListTeacher" />
</xs:schema>