WpfMvvmTest/Connected Services/ServiceReferenceTest/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFLogic.DTO" />
  <xs:element name="AddTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFLogic.DTO" minOccurs="0" name="teasher" nillable="true" type="q1:TestDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFLogic.DTO" minOccurs="0" name="teasher" nillable="true" type="q2:TestDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFLogic.DTO" minOccurs="0" name="GetTestResult" nillable="true" type="q3:ArrayOfQuestionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTests">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFLogic.DTO" minOccurs="0" name="GetTestsResult" nillable="true" type="q4:ArrayOfTestDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestFromTeacher">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDTeacher" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestFromTeacherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFLogic.DTO" minOccurs="0" name="TestFromTeacherResult" nillable="true" type="q5:ArrayOfTestDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultFromTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTest" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFLogic.DTO" minOccurs="0" name="testQuestionsFromUser" nillable="true" type="q6:ArrayOfQuestionDTO" />
        <xs:element minOccurs="0" name="nameUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultFromTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetResultFromTestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>